.catalog-menu {
  display: block;
  position: absolute;
  top: 20px;
  left: -200%;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 99999;
  pointer-events: none;

  opacity: 0;
  visibility: hidden;
}
.catalog-menu.active {
  left: 0;

  opacity: 1;
  visibility: visible;
}
.catalog-menu__content {
  position: absolute;
  border-top: 1px solid #e7e7e7;
  left: 0;
  top: 70px;

  max-height: calc(100vh - 240px);
  width: 100%;
  background: #fff;
  z-index: 150;
  padding: 4px 0 85px;
  overflow-y: auto;
  pointer-events: all;

  border-radius: 0 0 30px 30px;
}

.catalog-menu__content {
  display: flex;
  gap: 20px;
}
.catalog-menu__list {
  width: 30%;
  border-right: 1px solid #e7e7e7;
  padding: 30px;
  .catalog-menu__list_item {
    transition: all .3s;
    border-radius: 10px;
    cursor: pointer;
    * {
      cursor: pointer;
    }
    a {
      transition: all .3s;
    }
  }
  .active {
    background: #2086cf;
    a {
      color: #fff;
    }
  }
}
.catalog-menu__inner {
  width: 70%;
}
.catalog-menu__arrow {
  display: none;
}
.catalog-menu__inner {
  .catalog-sub-menu__list {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-sub-menu__item a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 270px;
    margin: 0 30px 30px 0;
    /* box-shadow: 0px 0px 15px 10px #f3f3f3; */
    padding: 10px;
    border-radius: 10px;
    /* text-decoration: none; */
    transition: all 0.3s;
  }
  .catalog-menu__inner_item {
    display: none;
    padding: 30px 10px;
  }
  .active {
    display: block;
  }
}



.catalog-menu__list > li.opened {
  border: 0;
}
.catalog-menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
}
.catalog-menu__item span, .catalog-menu__item a {
  color: #50575b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: unset;
}
.catalog-sub-menu {
  display: none;
  padding-bottom: 30px;
}
.catalog-sub-menu__list {
  padding: 0;
  margin: 0 10px 20px;
}
.catalog-sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.catalog-sub-menu__item a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  color: #50575b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: unset;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}
.catalog-sub-menu__item a img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.catalog-sub-menu__item a span {
  flex: 0 0 calc(100% - 66px);
}
.catalog-popular__title {
  color: #50575b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.catalog-popular__image {
  position: relative;
  height: 140px;
  width: 100%;
  margin-bottom: 10px;
}
.catalog-popular__product {
  color: #50575b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2px;
  text-decoration: unset;
}
.catalog-popular__bottom {
  display: flex;
  align-items: center;
  gap: 12px;
}
.catalog-popular__price {
  color: #50575b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.catalog-popular__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}