.footer {
  padding: 88px 0 113px;
  background: #F3F6FA;
  border-radius: 22px 22px 0 0;
  //margin-top: 50px;
  p, a, span {
    font-weight: 400;
    font-size: 14px;

    /* line-height: 19px; */
    line-height: 1.35;
    text-align: center;
    color: #91969d;
  }
  a, a * {
    cursor: pointer;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__top {
    padding-bottom: 50px;
    border-bottom: 1px solid #dfe2e6;
    position: relative;
    &_content {
      display: flex;
      justify-content: space-between;
      gap: 124px;
    }
  }
  &__bottom {
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &_content {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
      row-gap: 10px;
    }
    &_payment {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 37px;
      &-title {
        font-weight: 400;
        font-size: 17px;

        /* line-height: 23px; */
        line-height: 1.35;
        color: #797e84;
      }
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 10px;
      }
    }
    &_description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;

    /* line-height: 24px; */
    line-height: 1.35;
    color: #50575b;

    margin-bottom: 20px;
  }
  &__section {
    &_wrapper {
      li:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__catalog {
    width: 700px;
    &_more {
      margin-top: 20px;
      position: relative;
    }
    &_trigger, &_trigger * {
      cursor: pointer;
      transition: all .3s;
    }
    &_trigger.active {
      path {
        fill: #FFF;
      }
      rect {
        fill: #2086CF;
      }
    }
    &_sub {
      display: none;

      padding: 10px 20px;
      box-shadow: 0 4px 10px 0 rgba(62, 83, 97, 0.1);
      background: #fff;
      border-radius: 6px;
      transition: all .3s;

      width: 490px;

      position: absolute;
      bottom: calc(100% + 10px);
      left: -20px;
      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__menu {
    &_more {
      margin-top: 20px;
      position: relative;
    }
    &_trigger, &_trigger * {
      cursor: pointer;
      transition: all .3s;
    }
    &_trigger.active {
      path {
        fill: #FFF;
      }
      rect {
        fill: #2086CF;
      }
    }
    &_sub {
      display: none;

      padding: 10px 20px;
      box-shadow: 0 4px 10px 0 rgba(62, 83, 97, 0.1);
      background: #fff;
      border-radius: 6px;
      transition: all .3s;

      width: 490px;

      position: absolute;
      bottom: calc(100% + 10px);
      left: -20px;
      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__social {
    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    &_item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .footer__news {
      margin-top: 40px;
    }
  }
  &__support {
    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &_item {
      display: flex;
      flex-direction: column;
      gap: 6px;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &_title {
      font-weight: 400;
      font-size: 14px;

      /* line-height: 19px; */
      line-height: 1.35;
      color: #9e9e9e;
    }
    &_phone {
      font-weight: 400;
      font-size: 22px !important;

      /* line-height: 30px; */
      line-height: 1.35;
      color: #50575b !important;
    }
    .footer__buttons {
      margin-top: 40px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    width: 196px;
    min-width: 196px;

    //position: absolute;
    //right: 0;
    //bottom: 20px;
    &_item {
      font-weight: 500;
      font-size: 14px;

      width: 100%;

      /* line-height: 19px; */
      line-height: 1.35;

      display: block;

      padding: 10px;

      border-radius: 50px;
      border: 1px solid #2086cf;

      transition: all .3s;
      &:first-child {
        color: #2086cf;
        &:hover {
          color: #fff;
          background: #2086cf;
        }
      }
      &:last-child {
        color: #fff;
        background: #2086cf;
      }
    }
  }
  &__news {
    width: 196px;

    //position: absolute;
    //right: 275px;
    //bottom: 20px;
    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        height: 40px;
        text-align: center;
        outline: none;
        background: #fff;
        border-radius: 50px;

        border: none;

        cursor: text;
      }
      button {
        cursor: pointer;
        height: 40px;
        border-radius: 71px;
        background: #2086cf;
        text-align: center;
        color: #fff;

        border: none;

        transition: all .3s;
        &:hover {
          filter: drop-shadow(0px 8px 25px #AFD5F0);
        }
      }
    }
    &_policy {
      font-weight: 400;
      font-size: 14px;

      /* line-height: 19px; */
      line-height: 1.35;
      text-align: center;
      color: #a5acb5;
      a {
        text-decoration: underline;
      }
    }
  }

  &__mobile {
    display: none;
  }
}