@use '../blocks';
@use '../media';

* {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  //color: var(--main-color);
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  &.lock {
    overflow: hidden;
  }
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
  color: #303239;
  cursor: default;
  position: relative;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  min-height: 100vh;
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.burger-menu {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 114.286%;
}

h2 {
  color: #2C3336;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 69.6px */

}

h3 {
  color: #2C3336;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h4 {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 42px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 21px;
  }
}